:root {
  --color-primary: #0e63f3;
  --color-danger: #ff4949;
  --color-success: #0a0;
  --color-muted: #494949;
  --color-semi-muted: #646464;
  --color-light: #fff;
  --color-warning: #fde400;
  --color-background: #f8f8f8;
  --color-light-background: #e5e5e5;
  --color-second-icons-primary: #01dddd;
  --color-border-input: #ccc;
  --color-background-light: #eee;
  --color-primary-hover: #0b4dbf;
  --color-header-table: #545454;
}
/* ==========================================================================
     Wrapper 
   ========================================================================== */
@media (min-width: 1200px) {
  .content-general {
    padding: 0 60px;
  }
}
@media (max-width: 1199.99px) and (min-width: 992px) {
  .content-general {
    padding: 0 40px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .content-general {
    padding: 0 30px;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .content-general {
    padding: 0 15px;
  }
}
@media (max-width: 479px) {
  .content-general {
    padding: 0 5px;
  }
}
.max-width {
  max-width: 1366px;
  margin: auto;
}
/* ==========================================================================
     General
   ========================================================================== */
body {
  font-family: Montserrat, sans-serif;
  background-color: var(--color-light);
  color: var(--color-semi-muted);
  font-size: calc(12px + 0.15vw);
  font-weight: 500;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  color: #646464;
  background-color: #eee;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
h1 {
  font-size: 1.616em;
}
h1,
h2 {
  line-height: 1.3;
  color: var(--color-muted);
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
  line-height: 1.3;
  color: var(--color-muted);
}
p {
  margin-bottom: 15px;
  color: #646464;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.fwp {
  display: flex;
  flex-wrap: wrap;
}
legend {
  font-size: 1.25em;
  font-weight: 700;
  color: #494949;
}
fieldset {
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 4px;
  border: 1px solid #dedede;
  background-color: white;
  padding: 10px 20px 20px 20px;
}
.legend-2 {
  font-size: 1.1em;
}
.fielset-2 {
  border-radius: 4px;
  border: 1px solid #ccc;
}
.title-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title-button__title {
  margin: 0 15px 10px 0px;
}
.title-main {
  margin-bottom: 10px;
}
.label-form {
  display: block;
  margin-bottom: 5px;
}
.text-add {
  vertical-align: middle;
  color: var(--color-primary);
  cursor: pointer;
  margin-left: 5px;
}
.text-icon {
  margin-left: 5px;
  vertical-align: middle;
}
.checkbox-custom,
.radio-group {
  margin-bottom: 5px;
}
.div-content-wrap {
  margin-top: 15px;
}
.form__save {
  text-align: center;
  margin-top: 30px;
}
.center {
  text-align: center;
}
/* ==========================================================================
     Color text
   ========================================================================== */
.text-primary {
  color: var(--color-primary);
}
.text-success {
  color: var(--color-success);
}
.text-danger {
  color: var(--color-danger);
}
/* ==========================================================================
     Color icons
   ========================================================================== */
.fill-primary {
  fill: var(--color-primary);
}
.fill-danger {
  fill: var(--color-danger);
}
.fill-light {
  fill: var(--color-light);
}
.fill-success {
  fill: var(--color-success);
}
.fill-muted {
  fill: var(--color-muted);
}
/* ==========================================================================
   Margins
 ========================================================================== */
.ml-5 {
  margin-left: 5px;
}
.ml-25 {
  margin-left: 25px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.margin-auto {
  margin: auto;
}
.wrapper-interior {
  margin: 1.5em 0;
}
/* ==========================================================================
    Input global component styles
========================================================================== */
input[type="text"] {
  font-size: calc(12px + 0.15vw);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 7px 10px;
  color: var(--color-semi-muted);
  border: 1px solid var(--color-border-input);
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}
.datepicker-trigger input {
  width: 240px;
}
.inputWithIcon input[type="text"] {
  padding-left: 40px;
}
.inputWithIcon {
  position: relative;
}
.inputWithIcon .icon-input {
  position: absolute;
  padding: 7px 8px;
}
.inputWithIcon .icon-input {
  left: 0;
  transition: 0.3s;
  width: 1.4em;
  height: 1.4em;
}
/* ==========================================================================
     Forms 
   ========================================================================== */
input,
textarea {
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: #999999;
  font-family: Montserrat, sans-serif;
  font-size: calc(12px + 0.15vw);
}
::-moz-placeholder {
  color: #999999;
  font-family: Montserrat, sans-serif;
  font-size: calc(12px + 0.15vw);
}
:-ms-input-placeholder {
  color: #999999;
  font-family: Montserrat, sans-serif;
  font-size: calc(12px + 0.15vw);
}
::-ms-input-placeholder {
  color: #999999;
  font-family: Montserrat, sans-serif;
  font-size: calc(12px + 0.15vw);
}
::placeholder {
  color: #999999;
  font-family: Montserrat, sans-serif;
  font-size: calc(12px + 0.15vw);
}
textarea.form-control {
  height: 160px;
}
textarea {
  overflow: auto;
  width: 100%;
}
.form-control {
  width: 100%;
  display: block;
  height: 34px;
  padding: 6px 7px;
  font-family: Montserrat, sans-serif;
  font-size: calc(12px + 0.15vw);
  font-weight: 500;
  line-height: 1.25;
  color: #646464;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 1px 0 var(--color-primary);
}
.form-group,
.input-add {
  margin-bottom: 15px;
}
.line-divider {
  border-bottom: solid 1px var(--color-background-light);
  padding-bottom: 20px;
}
.line-divider2 {
  border-bottom: solid 1px var(--color-background-light);
  padding-bottom: 10px;
}
.card-details {
  margin: 0 0 20px;
  padding: 20px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: var(--color-light);
  border: solid 1px var(--color-background-light);
}
/* ==========================================================================
   Widths
 ========================================================================== */
.wd-100 {
  width: 100px;
}
.wd-115 {
  width: 115px;
}
.wd-130 {
  width: 130px;
}
.wd-100p {
  width: 100%;
}
/* ==========================================================================
      Modal
   ========================================================================== */
button.cross {
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  -o-border-image: initial;
  border-image: initial;
  background: transparent;
  font: inherit;
  overflow: visible;
  text-decoration: none;
  color: #fff;
}
.header-modal {
  display: flex;
  padding: 10px 25px 10px 20px;
  background: var(--color-primary);
  color: var(--color-light);
}
.header-modal-title {
  flex: 1;
  font-size: 1.2em;
  font-weight: 700;
}
.overflow-div {
  height: 100%;
  overflow-y: scroll;
  max-height: calc(100vh - 50px);
}
.wrap-modal {
  padding: 25px;
}
.vm--modal {
  box-shadow: 0 4px 8px rgba(68, 68, 68, 0.2) !important;
}
/* ==========================================================================
    Collapse
========================================================================== */
.v-collapse-toggler:after {
  position: absolute;
  top: 15px;
  right: 15px;
  content: "";
  width: 0.8em;
  height: 0.7em;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjQ1MS44NDdweCIgaGVpZ2h0PSI0NTEuODQ3cHgiIHZpZXdCb3g9IjAgMCA0NTEuODQ3IDQ1MS44NDciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ1MS44NDcgNDUxLjg0NzsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggc3R5bGU9ImZpbGw6IzBlNjNmMyIgZD0iTTIyNS45MjMsMzU0LjcwNmMtOC4wOTgsMC0xNi4xOTUtMy4wOTItMjIuMzY5LTkuMjYzTDkuMjcsMTUxLjE1N2MtMTIuMzU5LTEyLjM1OS0xMi4zNTktMzIuMzk3LDAtNDQuNzUxDQoJCWMxMi4zNTQtMTIuMzU0LDMyLjM4OC0xMi4zNTQsNDQuNzQ4LDBsMTcxLjkwNSwxNzEuOTE1bDE3MS45MDYtMTcxLjkwOWMxMi4zNTktMTIuMzU0LDMyLjM5MS0xMi4zNTQsNDQuNzQ0LDANCgkJYzEyLjM2NSwxMi4zNTQsMTIuMzY1LDMyLjM5MiwwLDQ0Ljc1MUwyNDguMjkyLDM0NS40NDlDMjQyLjExNSwzNTEuNjIxLDIzNC4wMTgsMzU0LjcwNiwyMjUuOTIzLDM1NC43MDZ6Ii8+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8L3N2Zz4NCg==");
}
.active_collapse:after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.v-collapse-toggler {
  background: #ddd;
  padding: 20px;
}
.accordion__title {
  display: block;
  color: var(--color-primary);
  font-weight: 600;
}
.v-collapse-toggler:hover {
  color: var(--color-primary-hover);
  cursor: pointer;
}
.v-collapse-toggler > p {
  margin-bottom: 0;
  font-weight: 500;
}
.vc-collapse {
  position: relative;
  border: 1px solid #d8d8d8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.v-collapse-content {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  padding: 0;
}
.v-collapse-content-end {
  transition: max-height 0.3s ease-in;
  max-height: 100%;
}
.p-0{
  padding: 0 !important;
}
.brd-0{
  border: none !important;
}
.brd-r-0{
  border-right: none;
}
.brd-l-0{
  border-left: none;
}
.table-js *{
  box-sizing: border-box !important;
}
.table-js table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table-js thead, .table-js tbody tr {
    display: table;
    width: 100%;
}
.text-left{
  text-align: left !important;
}
/*table td, table th { overflow-wrap: anywhere; }*/
.table-js table tr{
    table-layout: fixed;
  }
/* ==========================================================================
   Validation
 ========================================================================== */
 .form-group--error input,
 .form-group--error select,
 .form-group--error textarea,
 .form-group--error label::before,
 .form-group--error .vue-tel-input,
 .form-group--error label.radio span {
   border-color: var(--color-danger) !important;
 }
 .validation-error {
   color: var(--color-danger);
   font-size: inherit;
   margin: 5px 0 0 0;
 }